* {
  font-family: serif;
  font-style: italic;
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
}

.extra-jumbotron {
  background-image: url("dashboard.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
}

.extra-jumbotron h1 {
  font-family: 'Audiowide', cursive;
  font-style: italic;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  color: white;
}

.jumbotron,
.jumbotron h2 {
  font-family: 'Fugaz One', cursive;
  color: black;
  font-size: 16px;
  background-color: white;
}

.jumbo-contain {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

#popup {
  width: 40%;
  background-color: white;
  position: absolute;
  top: 130%;
  z-index: 1;
  left: 30%;
  border-radius: 2px;
}

#popup h2,
p {
  position: relative;
  top: 0%;
  padding: 5px;
}

#detailBox {
  height: 500px;
  padding: 1%;
}

.wrapper {
  width: 80%;
  float: left;
  margin-top: 2%;
}

.box {
  position: relative;
  left: 3%;
  float: right;
  width: calc(100% / 4);
  height: 220px;
  margin: 1%;
  background-position: center center;
  background-repeat: no-repeat;
}

.drop-form {
  width: 100%;
  padding: 1px;
}

label {
  padding-left: 20%;
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
}

.form {
  margin: 1%;
  font-size: 14px;
  font-weight: bold;
}

.fade {
  opacity: 1;
  transition: opacity 0.25s  ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}

.box:hover {
  background-size: 75%;
}
