* {
  margin: 0;
  box-sizing: border-box;
}

.border-top {
  background-image: url("dashboard.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.border-top h1 {
  font-size: 20px;
  text-align: center;
}

.left-container {
  float: left;
  width: 20%;
  padding: 5%;
}

.wrapper {
  width: 80%;
  float: left;
}

.view {
  height: 220px;
  margin-top: 5%;
  max-width: 950px;
}

.prong {
  width: calc(100% / 4);
  border: 1px solid grey;
  margin: 1%;
}

.drop-form {
  width: 100%;
  padding: 1px;
}

label {
  padding-left: 20%;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

.fade {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.fade:hover {
  opacity: 0.5;
}
