* {
  margin: 0;
  box-sizing: border-box;
}

.border-top {
  background-image: url("dashboard.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

/* .imgbackground {
  width: 100%;
} */

.border-top h1 {
  font-size: 20px;
  text-align: center;
}

.left-container {
  float: left;
  width: 20%;
  padding: 5%;
}

.wrapper {
  width: 80%;
  float: left;
}

.belt-type {
  height: 220px;
  margin-top: 5%;
}

.prong {
  width: 25.66%;
  border: 1px solid grey;
  margin: 1%;
}

.drop-form {
  width: 100%;
  padding: 1px;
}

label {
  padding-left: 20%;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}
